<header>
  <span class="title">New Canvas for HILR</span>
  <span class="subtitle">Fall 2020</span>
  <ul>
    <li><a href="http://ruml.com">Docs</a></li>
    <li><a href="http://ruml.com">Something</a></li>
    <li><a href="http://ruml.com">Quit</a></li>
    <li><a href="http://ruml.com">Help</a></li>
  </ul>

</header>
