<nav>
  <ul>
    <li><a href="http://ruml.com">Ruml</a></li>
    <li><a href="http://ruml.com">Ruml</a></li>
    <li><a href="http://ruml.com">Ruml</a></li>
    <li><a href="http://ruml.com">Ruml</a></li>
  </ul>
</nav>
