<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Canvas</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link rel="stylesheet" href="newcanvas.css">
</head>

<body class="{{ body_class }}">
  <div class="container homecontainer">

  {% include "./_header.njk" %}
    <div><p>{{ foobar }} is part of baseA.</p></div>

  {% block content %}
  {% endblock %}

  {% include "./_footer.njk" %}

  </div>
</body>
</html>
