{# home.njk #}
{% set body_class = "home" %}
{% set foobar = "Foo Bar" %}
{% extends "baseA.njk" %}

<div>Some stuff that's not the {{ foobar }} content block!</div>

{% block content %}
<div class="home-content">
  <h1>Hello, World!</h1>
  <h2>Home</h2>
  <h3>Welcome to the HILR replacement for Canvas</h3>
  <p> {{ msg }} </p>
</div>
{% endblock %}
