{# home.njk #}
{% set body_class = "home" %}
{% set foobar = "Foo Bar" %}
{% extends "baseA.njk" %}

<div>Some stuff that's not the {{ foobar }} content block!</div>

{% block content %}
<div class="home-content">
  <h3>Welcome to the HILR replacement for Canvas</h3>
  <p>The msg is: {{ msg }}.</p>
</div>
<div class="coursesDiv">
  <h4>The courses are:</h4>
  <table>
 {% for course in courses %}
    <tr>
      <td>{{ course.crn }}&nbsp;&nbsp;</td>
      <td>{{ course.title }}</td>
      <td>{{ course.day }}: {{ course.time }}</td>
      <td>{{ course.sgl1 }} {{ course.sgl2}}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}

<!--
    "num": 601,
    "title": "Buddhism, An Ancient Religion Growing in the US",
    "day": "Monday",
    "time": "morning",
    "duration": "full",

-->
