/* newcanvas.css  May 23 */
* {
  box-sizing: border-box;
}
html {
  font-family: Palatino, "New Times Roman", serif;
  font-size: calc(12px + 0.28vw);
  line-height: 1.5;
}
body {
  margin: 0;
  background-color: wheat;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  line-height: 1.1;
  margin: 0.25rem 0;
}
.container {
  position: relative;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 4rem;
  background-color: crimson;
  color: lightgray;
  border-bottom: 1px solid black;
  font-family: Nunito, Arial, Helvetica, sans-serif;
}
header .title {
  padding-left: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
}
header ul li {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 2rem;
  font-size: 1.2rem;
}
header ul li a {
  color: lightgray;
  text-decoration: none;
}
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 2rem;
  background-color: lightgoldenrodyellow;
  border-top: 1px solid black;
}
.home-content {
  width: 70%;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid red;
}
.centered-text-column {
  max-width: 750px;
  margin: 0 auto;
  padding: 2rem;
}
.centered-text-column p {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}
